// Portfolio item 1 modal popup
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Intrinsic Motivation
                            p.item-intro.text-muted How to Find and Nurture it
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/intrinsicArt.jpg', alt='...')
                            p Intrinsic motivation holds a force that propels a person to partake in activities out of their comfort zone, amusement, or personal fulfillment. Unlike extrinsic motivators that rely on external rewards, intrinsic motivation comes from within, connected to a whole sense of purpose, enthusiasm or curiosity. 
                            p There are many levels to this internal drive that impacts the way people behave and achieve things. The very center of intrinsic motivation starts with being fulfilled from the activities they are engaging in, which also involves connecting with their personal beliefs, values and goals. This sense allows a person to pursue goals just to experience the activity itself. Whether it's finding a new hobby, perfecting a skill, or continuing a project they are passionate about, intrinsic motivation pushes people forward with a sense of purpose and excitement.
                            p Nurturing this intrinsic motivation is important since it allows a person to gain a stronger connection to their creativity and passions, rather than temporary incentives. 
                            h3 Ways to find and nurture Intrinsic Motivation: 
                            ul.list-inline
                                ul(style="text-align: left;")
                                    li 
                                        strong Reflect on Interests:
                                        | Recognize activities that make you enthusiastic and keep you interested.
                                    li 
                                        strong Have Meaningful Goals:
                                        | Define clear goals aligned with values and aspirations.
                                    li 
                                        strong Look for freedom:
                                        | Take control in the decisions.
                                    li 
                                        strong Welcoming Challenges:
                                        | Go for opportunities that allow growth and learn from the mistakes along the way.
                                    li 
                                        strong Connect to Purpose:
                                        | Find a bigger meaning and impact for the activities you participate in.
                                    li 
                                        strong Curiosity drives sparks:
                                        | Look at activities with a spirit of wonder and adventure.
                                    li 
                                        strong Celebrate accomplishments:
                                        | Recognize and celebrate your achievements and the journey to them.
                                    li 
                                        strong Create a Supportive Environment:
                                        | Keep people that encourage you to excel in your passions.
                                    li 
                                        strong Practice Self-Care:
                                        | Make your well-being a priority in order to sustain motivation.
                                    li 
                                        strong Reflect and modify:
                                        | Constantly review and change the ways you maintain motivation.

                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close Project